@page "/fetchdata"
@using BlazorNet7Samples.Shared
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @*<input @bind="search" @bind:after="UpdateWeather" @bind:event="oninput" />*@
    <MyInput @bind-Value="search" @bind-Value:after="UpdateWeather" />
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in Forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? forecasts;
    string search = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await UpdateWeather();
    }

    IEnumerable<WeatherForecast> Forecasts => forecasts.Where(f => f.Summary.Contains(search));

    async Task UpdateWeather()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>($"WeatherForecast");
    }

}
